h2{
    text-align: center;
    color: #245;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace
}

p{
    font-size: 30px;
}

body{
    background-color: #cdf;
}

h3{
    text-align: center;
    color: #245;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

h4{
    text-align: center;
    color: #245;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;

}